<template name="home">
	<div class="home">
		<div class="container">
			{{> kaartl}}
			<div class="conclusie-wrapper">
				<div class="conclusie-tekst">
					<h3 class="conclusie-titel">Titel van vergelijking</h3>
					<p class="conclusie-body-tekst">Er zijn vele variaties van passages van Lorem Ipsum beschikbaar maar het merendeel heeft te lijden gehad van wijzigingen in een of andere vorm, door ingevoegde humor of willekeurig gekozen woorden die nog niet half geloofwaardig ogen.</p>
					</div>
					<div class="conclusie-button-wrap">
						<input class="grafiek-button-active" type="submit" value="Bar chart">
					</div>
					<div class="conclusie-button-wrap">
						<input class="grafiek-button" type="submit" value="Line chart">
					</div>
				</div>
			{{> kaartr}}
		</div>
		<div class="graph-container">
			{{>graph}}
			<!-- {{>graph}} -->
		</div>
		<!-- <div class="grafiek-container">
			<div class="grafiek-wrapper">
				<div class="grafiek-img-wrap">
					<img class="grafiek-image" src="/images/bar-chart.png">
				</div>
				<div class="grafiek-img-wrap">
					<img class="grafiek-image" src="/images/bar-chart.png">
				</div>
			</div>
		</div> -->
	</div>
</template>