<template name="home">
	<div class="home">
		<div class="container">
			{{> kaartl}}
			<div class="conclusie-wrapper">
				<div class="conclusie-tekst">
					<h3 class="conclusie-titel">Deze website</h3>
					<p class="conclusie-body-tekst">Een schoonheidsgraad is een cijfer dat door de inwoners gegeven word aan de gemeente over de tevredeheid met de vuilnisdienst. Laag cijfer toont ontevrede en een hoog cijfer betekent tevrede bewoners.</p>
					</div>
					<div class="conclusie-button-wrap">
						<input class="grafiek-button-active" type="submit" value="Bar chart">
					</div>
					<div class="conclusie-button-wrap">
						<input class="grafiek-button" type="submit" value="Line chart">
					</div>
				</div>
			{{> kaartr}}
		</div>
		<div class="graph-container">
			{{>graph}}
			{{>graph2}}
		</div>
	</div>
</template>