<template name="layout">
	<header class="header">
		<div class="header-wrap">
			<div class="header-content">
				<div class="select-holder">
					<select class="select-kaart-button-l">
						<option value="">Selecteer kaart</option>
						<option value='{"map":"kaartl","graph":"graph"}' {{disabled "kaartl"}}>Schoonheidsgraden</option>
						<option value='{"map":"kaartr","graph":"graph2"}' {{disabled "kaartr"}}>AIRBNB</option>
						<option value='{"map":"kaart3","graph":"graph3"}' {{disabled "kaart3"}}>woningwaarde</option>
					</select>
				</div>
			</div>
			<div class="header-content">
				<h1 class="header-title">Amsterdam</h1>
			</div>
			<div class="header-content">
				<div class="select-holder">
					<select class="select-kaart-button-r">
						<option value="">Selecteer kaart</option>
						<option value='{"map":"kaartl","graph":"graph"}' {{disabled "kaartl"}}>Schoonheidsgraden</option>
						<option value='{"map":"kaartr","graph":"graph2"}' {{disabled "kaartr"}}>AIRBNB</option>
						<option value='{"map":"kaart3","graph":"graph3"}' {{disabled "kaart3"}}>woningwaarde</option>
					</select>
				</div>
			</div>
		</div>
	</header>
	<div class="overlay">
		<!-- {{> yield}} -->
		{{> home}}
	</div>
</template>