<template name="layout">
	<header class="header">
		<div class="header-wrap">
			<div class="header-content">
				<div class="select-holder">
					<select class="select-kaart-button">
						<option value="">Selecteer kaart</option>
						<option value="15min">Kaart 1</option>
						<option value="20min">Kaart 2</option>
						<option value="20min">Kaart 3</option>
					</select>
				</div>
			</div>
			<div class="header-content">
				<h1 class="header-title">Amsterdam</h1>
			</div>
			<div class="header-content">
				<div class="select-holder">
					<select class="select-kaart-button">
						<option value="">Selecteer kaart</option>
						<option value="15min">Kaart 4</option>
						<option value="20min">Kaart 5</option>
						<option value="20min">Kaart 6</option>
					</select>
				</div>
			</div>
		</div>
	</header>
	<div class="overlay">
		<!-- {{> yield}} -->
		{{> home}}
	</div>
</template>