.home {
	
	margin: 0 32px 0 32px;

	.container {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;

		.material-icon-wrap {
			display: flex;
			align-items: center;
			height: 280px;
			margin-top: 91px;
			width: auto;
		}

		.material-icons.white { 
			color: #fff; 
		}

		.kaart-wrapper {
			width: 100%;
			overflow: hidden;
			margin: 12px 0 0 0;

			svg {
				width:70%
			}

			.titel-kaart {
				text-align: center;
				margin: 0 0 12px 0;
				color: #fff;
			}

			// .kaart-img-wrap.right-map {
			// 	justify-content: flex-start;
			// }

			// .kaart-img-wrap.left-map {
				
			// }

			// .kaart-img-wrap.third-map {
			// 	justify-content: flex-start;
			// }

			.kaart-img-wrap {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.image-kaart {
					// display: block;
					width: 500px;
					// margin: 0 auto;
				}

				.selected {

				}
			}
		}

		.conclusie-wrapper > div:nth-child(2) {
			margin-bottom: 12px;
		}

		.conclusie-wrapper {
			display: flex;
  			flex-direction: column;
  			align-content: space-between;
  			// background-color: $conclusie-dimgray;
  			background-color: #4D5061;
			width: 400px;
			height: 100%;
			padding: 12px;
			margin: 91px 12px 0 12px;

			.conclusie-titel {
				text-align: center;
				margin: 0 0 12px 0;
				color: #fff;
			}

			.conclusie-tekst {
				height: 100%;
				width: 180px;
				margin: 0 0 12px 0;
  				color: #fff;
			}

			.conclusie-button-wrap {
  				width: 100%;
  				height: 100%;

  				.grafiek-button {
  					display: block;
  					margin: 0 auto;
  					width: 100px;
  					color: $header-grijs;
  					background: transparent;
  					border: 2px solid $header-grijs;
  					height: 36px;
  					outline: none;
  				}

  				.grafiek-button-active {
  					display: block;
  					margin: 0 auto;
  					width: 100px;
  					background: $header-grijs;
  					border: 1px solid $header-grijs;
  					color: $conclusie-dimgray;
  					height: 36px;
  					outline: none;
  				}

  				.grafiek-button:hover {
  					background: $header-grijs;
  					border: 1px solid $header-grijs;
  					color: $conclusie-dimgray;
  					cursor: pointer; 
  					cursor: hand;
  				}
			}
		}
	}

	.graph-container {

		margin-top: 12px;

		.graph-wrapper {

		}

		#graph,#graph2,#graph3 {
			width: 50%;
			float: left;
			
			svg {
				width: 500px;
    			display: block;
    			margin: auto;
			}
			
			text {
				fill: #fff;
				text-transform: uppercase;
				font-size: 12px;
			}

			.left-yaxis > g text {
				display: none;
			}

			#balk > g > text {
				fill: #fff;
			}

			#balk > path {
				stroke: #fff;
				stroke-width: 2px;
			}

			#balk > g line {
				stroke: #fff;
				stroke-width: 2px;
			}

			#balk {
				fill: none;
				shape-rendering: crispEdges;
			}
		}
	}
}