.home {
	
	margin: 0 32px 0 32px;

	.kaart-container {
		width: 100%;
		float: left;
		height: 500px;

		.kaart-wrapper {
			width: 40%;
			float: left;
			overflow: hidden;

			.images-kaart {
				width: 100%;
			}
		}

		.conclusie-wrapper {
			display: table;
			width: 20%;
			height: 100%;
			float: left;
			padding: 0 12px 0 12px;

			.conclusie-tekst {
				display: table-cell;
  				vertical-align: middle;
			}
		}
	}
}