.kaart-links {
	width: 50%;
	float: left;
	overflow: hidden;

	.images-links {
		width: 100%;
	}
}

.kaart-rechts {
	width: 50%;
	float: left;
	overflow: hidden;

	.images-rechts {
		width: 100%;
	}
}