// Variabellen:

	// Fonts
	$body-font: 'Open Sans', sans-serif;

	// Kleuren
	$header-grijs: #3f3f3f;
	$venster-white-smoke: #f4f5f6;
	$body-darkslategray: #515151;
	$conclusie-dimgray: #656666;


// Imports:

	// Fonts
	@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

	// Templates
	@import 'main';
	@import 'home';
	@import 'header';
